* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 源泉圓體;
    font-weight: 500;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0F0EB;
    margin: 0 auto;
    text-align: center;
}



/* main */
.main {
    color: #465A5A;
}

/* upperPart */

.upperPart{
    width: 1200px;
    height: 440px;
    border-bottom: 4px solid #86B5A7;
    margin: 86px auto;
}

.picChange{
    width: 690px;
    float: left;
}

#Image1,
#Image2,
#Image3{
    width: 150px;
    height: 112px;
    margin-bottom: 15px;
    border-radius: 20px;
}

#Image3{margin-bottom: 0;}
#show{
    width: 520px;
    height: 380px;
    border-radius: 20px;
}

.locationInfo{
    float: left;
    width: 440px;
    text-align: left;
    word-wrap: normal;
    margin-left: 70px;
}

.locationInfo li{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.locationInfo li img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.locationInfo p{
    padding-top: 10px;
    font-size: 20px;
}

/* lowerPart */
.lowerPart{
    width: 1300px;
    margin-top: 60px;
    margin-left: 58px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    
}
.teacherCard{
    width: 572px;
    height: 322px;
    background-color: #DCE6D7;
    text-align: left;
    padding: 30px 0 0 60px;
    border-radius: 40px;
    font-size: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
}
#teacherPic {
    width: 200px;
    height: 240px;
    border-radius: 8px;
    float: left;
    margin-top: 10px;
}

.teacherInfo {
    margin-top: 10px;
    float: left;
    width: 288px;
    /* margin-left: 40px; */
}

.teacherInfo li{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 16px;
}

.teacherInfo li img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
    float: left;
}

.teacherInfo ul ul{
    float: left;
    width: 208px;
    padding-left: 0px;
}

/* footer */
.footer {
    width: 1440px;
    height: 90px;
    margin: 0 auto;
    /* line-height: 60px; */
    background-color: #DCE6D7;
    color: #86B5A7;
    line-height: 90px;
}

.footer img {
    width: 60px;
    height: 60px;
    /* padding-top: 15px; */
    /* padding-left: 445px; */
    margin-right: 20px;
    vertical-align: middle;
}
