/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: #465A5A;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 20px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 1440px; /* Could be more or less, depending on screen size */
    border-radius: 30px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .modal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* upperPart */

.upperPart{
    width: 1200px;
    height: 440px;
    border-bottom: 4px solid #86B5A7;
    margin: 86px auto;
}

.picChange{
    width: 690px;
    float: left;
}

.modalImage{
    width: 150px;
    height: 112px;
    margin-bottom: 15px;
    border-radius: 20px;
}

#Image3,#Image6{margin-bottom: 0;}

.showPic{
    width: 520px;
    height: 380px;
    border-radius: 20px;
    margin-left: 15px;
}

.locationInfos{
    float: left;
    width: 440px;
    text-align: left;
    word-wrap: normal;
    margin-left: 70px;
}

.locationInfos li{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}


.locationInfos li img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.locationInfos p{
    padding-top: 10px;
    font-size: 20px;
    line-height: 32px;
}

/* lowerPart */
.lowerPart{
    width: 1200px;
    margin-top: 60px;
    margin-left: 118px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
.teacherCard{
    width: 512px;
    height: 322px;
    background-color: #DCE6D7;
    text-align: left;
    padding: 30px 0 0 60px;
    border-radius: 40px;
    font-size: 20px;
    margin-bottom: 60px;
}
#teacherPic {
    width: 200px;
    height: 240px;
    border-radius: 8px;
    float: left;
    margin-top: 10px;
}

.teacherInfo {
    margin-top: 10px;
    float: left;
    width: 248px;
    margin-left: 40px;
}

.teacherInfo li{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 16px;
}

.teacherInfo li img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
    float: left;
}

.teacherInfo ul ul{
    float: left;
    width: 208px;
}