* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 源泉圓體;
    font-weight: 500;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0F0EB;
    margin: 0 auto;
    text-align: center;
}

.header {
    background-color: #F0F0EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 7px solid #86B5A7;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 80px;
}

.logo {
    margin-right: calc(100vw-865px);
    margin-left: 124px;
}
#logo{
    display: block;
    width: 220px;
    height: 80px;
    background-image: url('../pics/icon/main-LOGO.png');
}

.navbar {
    margin-right: 124px;
}
.navbar img {
    width: 56px;
    height: 56px;
    padding: 0 10px 8px 10px;
}

.navbar li {
    float: left;
    border-right: 5px #DCE6D7 solid;
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a{
    display: flex;
    margin: 0 25px ;
    flex-direction: column;
    color: #465A5A;
    justify-content: end;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
}
#nav01{background-image: url('../pics/icon/icon01ser-rule.svg');}

#nav01:hover{
    background-image: url('../pics/icon/icon01ser-rule_hover.svg');
}

#nav02{background-image: url('../pics/icon/icon02now-reserve.svg');}

#nav02:hover{
    background-image: url('../pics/icon/icon02now-reserve_hover.svg');
}

#nav03{background-image: url('../pics/icon/icon03location-intro.svg');}

#nav03:hover{
    background-image: url('../pics/icon/icon03location-intro_hover.svg');
}

#nav04{background-image: url('../pics/icon/icon04about-us.svg');}

#nav04:hover{
    background-image: url('../pics/icon/icon04about-us_hover.svg');
}

#nav00{background-image: url('../pics/icon/icon00member-data.svg');}

#nav00:hover{
    background-image: url('../pics/icon/icon00member-data_hover.svg');
}
.navbar li:last-child a {
    margin-right: 0px;
}
.hamburgerMenu{
    display: none;
    margin-left: 100px;
}
#mobileMenu{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../pics/icon/mobile-hamlist.svg');
}
.mobileSelectBar{
    position: fixed;
    width: 160px;
    background-color: #DCE6D7;
    top: 0;
    left: 0;
    right: -100px;
    bottom: 0;
    margin: 0 auto;
    max-height: 90%;
    overflow-y: auto;
}
.mobileSelectBar ul {
    padding-top: 48px;
    margin: 0 25px;

}
.mobileSelectBar ul li::before {
    content: "\002022"; 
    color: #86B5A7;
    font-family:"Webdings";
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1rem; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
.mobileSelectBar li{
    text-align: left;
    padding: 16px 5px;
    border-bottom: 2px solid #86B5A7;
    padding-left: 20px;
}
.mobileSelectBar li a{
    
    line-height: 20px;
    margin: 20px 0;
    
}

#mobileSelect{
    position: absolute;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: auto;
}
/* screen>1440px */
@media (min-width:1440px) {
    /* .header{
        justify-content: space-around;
    }    */
}

/* screen<769px */
@media (max-width:768px){
    #logo{
        background-image: url('../pics/icon/mobile-icon.svg');
        width: 116px;
        height: 28px;
    }
    .logo{
        margin-right: 100px;
        margin-left: 24px;
    }
    .hamburgerMenu{
        display: inline;
        
    }
    .navbar{
        display: none;
    }
    .header{
        width: 100vw;
        height: 28px;
        padding: 8px 0;
        justify-content: center;
    }
}